<h2>Create a recipe</h2>

<form action="/create" method="POST">
  <label>
    Title:
    <input type="text" name="title" />
  </label><br>

  <label>
    Difficulty Level:
  <br>
     <input type="radio" id="kids" name="difficulty" value="kids">
        <label for="kids">Kids</label><br>
     <input type="radio" id="papa" name="difficulty" value="papa">
        <label for="Papa">Papa</label><br>
     <input type="radio" id="mama" name="difficulty" value="mama">
        <label for="Mama">Mama</label>
   </label><br>

 <label>
    Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label> <br>

  <label>
    Ingredients
     <textarea name="ingredients" cols="30" rows="4"> </textarea>
  </label> <br>

  <label>
     Instructions:
      <textarea name="instructions" cols="30" rows="4"> </textarea>
  </label> <br>

  <label> Dish type:<br>
     <input type="checkbox" id="breakfast" name="dishType" value="breakfast">
        <label for="breakfast">Breakfast</label>
    <input type="checkbox" id="lunch" name="dishType" value="lunch">
        <label for="lunch">Lunch</label><br>
     <input type="checkbox" id="dinner" name="dishType" value="dinner">
        <label for="dinner">Dinner</label>
     <input type="checkbox" id="dessert" name="dishType" value="dessert">
        <label for="dessert">Dessert</label><br>
     <input type="checkbox" id="snack" name="dishType" value="snack">
        <label for="snack">Snack</label>
     <input type="checkbox" id="drink" name="dishType" value="drink">
        <label for="drink">Drink</label>
   </label><br>

  <label for="duration">
   Duration: Short (15± min) 
  <input type="range" id="duration" name="duration" min="15" max="120">
   Long (2h+)
  </label><br>

  </label> User:
    <input type="text" name="userName"/>
  </label><br>


   <label>Upload image of dish:</label>
       <input type="file" id="image" name="image" accept="image/*">
  </label><br>

  <button class="btn btn-primary" type="submit"> Create </button>
</form>