body {
  padding: 50px;
  font-family: 'Gloria Hallelujah', cursive;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f36ba3 !important;
}

.nav-link:hover {
  color: #f36ba3;
  border-bottom: 2px solid #f36ba3;
}

.navbar-brand {
  font-size: 2rem
}

h1,
h2,
h5 {
  color: #ffbd0d;
  font-size: 3rem;
  text-shadow: black 4px 3px 2px;
}

p {
  color: #ffbd0d;
  font-size: 2rem;
  text-shadow: black 4px 3px 2px;
}

/* Custom Carousel Styling */

.custom-carousel-width {
  width: 70vw;
}

.card {
  max-width: 500px;
  margin: 80px auto;
}

.card-group img {
  max-height: 200px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* Login Styles Start */

.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #ffbd0d;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}

.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #ffffff;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

/* Login Styles End */

/* Recipe Create & Edit Start */

.recipe-forms {
  font-size: larger;
  font-weight: bolder;
}

/* Recipe Create & Edit End */

/* Recipe Create Start */

#duration {
  text-align: right;
}

/* Recipe Create End */

/* Recipe Details Start */
 .recipe-details {
  background-color: #ffffff5d;
  color: black !important;
  text-shadow: none !important;
}
.recipe-info {
  background-color: rgba(255, 255, 255, 0.823);
}

/* Recipe Details End */

@media (max-width: 1000px) {

  h1,
  h2,
  h5 {
    color: black
    font-size: 2rem;
    text-shadow: black 4px 3px 2px;
  }

  p {
    color: #ffbd0d;
    font-size: 1rem;
    text-shadow: black 4px 3px 2px;
  }
}