<h1 class="text-center m-4">Your Daily Dose of UMAMI</h1>

<div
  id="carouselExampleCaptions"
  class="carousel slide mt-5"
  data-bs-ride="carousel"
  data-bs-interval="4000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      class="carousel-item text-center justify-content-center align-items-center active"
    >
      <img src="./images/garlic-shrimp.webp" class="custom-carousel-width" />
      <div class="carousel-caption d-md-block">
        <h5>Garlic Shrimp</h5>
        <p class="d-none">Finger-licking good UMAMI delicacy à la Mama!</p>
      </div>
    </div>
    <div
      class="carousel-item text-center justify-content-center align-items-center"
    >
      <img src="./images/lasagna.webp" class="custom-carousel-width" />
      <div class="carousel-caption d-md-block">
        <h5>Lasagna</h5>
        <p class="d-none">Just like Grand-Mama made it.</p>
      </div>
    </div>
    <div
      class="carousel-item text-center justify-content-center align-items-center"
    >
      <img src="./images/popcorn.webp" class="custom-carousel-width" />
      <div class="carousel-caption d-md-block">
        <h5>Popcorn</h5>
        <p class="d-none">Great fun and taste for small and grown-ups alike!</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>