{{! <form action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input
      type="userName"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Your Username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      type="userName"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Your Password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form> }}

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          {{! <h1>Login</h1> }}
          <img
            src="./images/cooking-mama-logo.png"
            class="brand_logo"
            alt="Logo"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form action="/login" method="POST">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="text"
              name="userName"
              class="form-control input_user"
              placeholder="username"
            />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              name="passwordHash"
              class="form-control input_pass"
              placeholder="password"
            />
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn login_btn">Login</button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account?
          <a href="/register" class="ms-2">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}