<h1>Login</h1>

<form action="/login" method="POST">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input
      type="userName"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Your Username"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      type="userName"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Your Password"
    />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}