<form action="/register" method="POST">
   <label> Username
      <input type="text" name="userName">
   </label>
   <label> Password
      <input type="password" name="passwordHash">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}